<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Arabic - Leila</string>
	<string>Arabic - Mehdi</string>
	<string>Arabic - Nizar</string>
	<string>Arabic - Salma</string>
	<string>Arabic - Youssef</string>
	<string>Catalan - Laia</string>
	<string>Czech - Eliska</string>
	<string>Danish - Mette</string>
	<string>Danish - Rasmus</string>
	<string>Dutch (B) - Jeroen</string>
	<string>Dutch (B) - Sofie</string>
	<string>Dutch (B) - Zoe</string>
	<string>Dutch (NL) - Daan</string>
	<string>Dutch (NL) - Femke</string>
	<string>Dutch (NL) - Jasmijn</string>
	<string>Dutch (NL) - Max</string>
	<string>English (India) - Deepa</string>
	<string>English (UK) - Graham</string>
	<string>English (UK) - Lucy</string>
	<string>English (UK) - Peter</string>
	<string>English (UK) - Rachel</string>
	<string>English (US) - Heather</string>
	<string>English (US) - Kenny</string>
	<string>English (US) - Laura</string>
	<string>English (US) - Nelly</string>
	<string>English (US) - Ryan</string>
	<string>English (US) - Tracy</string>
	<string>Faeroese - Sjurdur</string>
	<string>Finnish - Sanna</string>
	<string>French - Alice</string>
	<string>French - Antoine</string>
	<string>French - Bruno</string>
	<string>French - Claire</string>
	<string>French - Julie</string>
	<string>French - Margaux</string>
	<string>French (Canadian) - Louise</string>
	<string>German - Andreas</string>
	<string>German - Julia</string>
	<string>German - Klaus</string>
	<string>German - Sarah</string>
	<string>Greek - Dimitris</string>
	<string>Icelandic - Snorri</string>
	<string>Italian - Chiara</string>
	<string>Italian - Fabiana</string>
	<string>Italian - Vittorio</string>
	<string>Japanese (Q42011) - Sakura</string>
	<string>Norwegian - Bente</string>
	<string>Norwegian - Kari</string>
	<string>Norwegian - Olav</string>
	<string>Polish - Ania</string>
	<string>Portuguese - Celia</string>
	<string>Portuguese (Brazil) - Marcia</string>
	<string>Russian - Alyona</string>
	<string>Spanish - Antonio</string>
	<string>Spanish - Ines</string>
	<string>Spanish - Maria</string>
	<string>Spanish (North America) - Rosa</string>
	<string>Swedish - Elin</string>
	<string>Swedish - Emil</string>
	<string>Swedish - Emma</string>
	<string>Swedish - Erik</string>
	<string>Swedish (Finland) - Samuel</string>
	<string>Turkish - Ipek</string>
</array>
</plist>
